<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

    {{{body}}}

</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> 20d2564517f0661bc416d3ef15049eb69a5b94af
